p {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.feedback {
    width: 10%;
    margin: 4px 2px;
    border: 2px solid rgba(0, 100, 55, 20);
    border-radius: 4px;
}

.feedback::placeholder {
    font-weight: 200;
    opacity: .5;
    color: grey;
}